name: Deployment Workflow

# Trigger this workflow on pushes to the specified branch
# on:
#   push:
#     branches:
#       - main
on:
  workflow_dispatch:

jobs:
    push_into_master:
        name: It will pushing code into branch master in Github
        runs-on: ubuntu-latest
        steps:
            - name: Checkout source branch
              uses: actions/checkout@v4
              with:
                ref: new

            - name: Configure Git
              run: |
                git config user.name ${{ secrets.NAME }}
                git config user.email ${{ secrets.EMAIL }}

            - name: Merge into target branch
              run: |
                git fetch origin new
                git fetch origin master
                git branch -a
                git checkout master
                git reset origin/new
                git push origin master --force
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install dependencies
              run: npm install

            - name: Build Next.js app
              run: npm run build

            - name: SSH Deploy
                # Use the 'appleboy/ssh-action' action for SSH deployment
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.HOST }} # Your server's IP address
                username: ${{ secrets.USERNAME }} # Your server's username
                key: ${{ secrets.SSH_PRIVATE_KEY }} # Your server's SSH private key
                script: |
                    export NVM_DIR="$HOME/.nvm"
                    [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                    cd ${{ secrets.APP_DIR }} # Specify the path to your app directory on the server
                    git pull
                    npm install
                    npm run build
                    pm2 restart {service_name} # Replace with your PM2 service name
