name: Auto Merge new -> master

on:
  workflow_dispatch:

permissions:
  contents: write
  
jobs:
  build-testing:
    name: It will installing dependency
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: 'npm'
      - run: npm i
      - run: npm run build --if-present
      - run: npm test

  push_into_master:
    name: It will pushing code into branch master in Github
    runs-on: ubuntu-latest
    needs: build-testing
    steps:
      - name: Checkout source branch
        uses: actions/checkout@v4
        with:
          ref: new

      - name: Configure Git
        run: |
          git config user.name ${{ secrets.NAME }}
          git config user.email ${{ secrets.EMAIL }}

      - name: Merge into target branch
        run: |
          git fetch origin new
          git fetch origin master
          git branch -a
          git checkout master
          git reset origin/new
          git push origin master --force

  # deploy:
  #   name: It will deploying and running code into server
  #   runs-on: ubuntu-latest
  #   needs: push_into_master
  #   if: success()
  #   steps:
  #     - name: Deploying Using SSH
  #       uses: appleboy/ssh-action@v1.2.0
  #       with:
  #         host: ${{ secrets.HOST }}
  #         username: ${{ secrets.USERNAME }}
  #         key: ${{ secrets.PRIVATE_KEY }}
  #         run: |
  #           echo "deploying"
  #           cd ~/projects/learnGithubActions
  #           git pull origin master
  #           git status
  # deploy:
  #   runs-on: ubuntu-latest
  #   timeout-minutes: 60
  #   needs: push_into_master
  #   steps:
  #     - name: Push into directory
  #       uses: actions/checkout@v4
  #       with:
  #         apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
  #         accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      
  #     - name: Npm install wrangler
  #       run: npm install --save-dev wrangler@4
  #     - name: Cd to projects
  #       run: pwd
  #     - name: Show folder
  #       run: ls
  deploy1:
        runs-on: ubuntu-latest
        needs: push_into_master
        steps:
            - name: Checkout code
              uses: actions/checkout@v2

            - name: Install dependencies
              run: npm install

            - name: SSH Deploy
                # Use the 'appleboy/ssh-action' action for SSH deployment
              uses: appleboy/ssh-action@master
              with:
                host: ${{ secrets.HOST }} # Your server's IP address
                username: ${{ secrets.USERNAME }} # Your server's username
                key: ${{ secrets.SSH_PRIVATE_KEY }} # Your server's SSH private key
                script: |
                  export NVM_DIR="$HOME/.nvm"
                  [ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"
                  ls
                  git pull
                  npm install

  deploy:
    name: Deploy to Home Lab Server
    runs-on: ubuntu-latest
    timeout-minutes: 60
    needs: push_into_master
    if: success()
    steps:
      - name: Checkout master branch
        uses: actions/checkout@v4
        with:
          ref: master

      # - name: Deploying Using SSH
      #   uses: appleboy/ssh-action@v1.2.0
      #   with:
      #     host: ${{ secrets.HOST }}
      #     username: ${{ secrets.USERNAME }}
      #     key: ${{ secrets.PRIVATE_KEY }}
      #     port: 3000
      #     script: |
      #       echo "Deploying to home lab..."
      #       cd ~/projects/learnGithubActions
      #       git pull origin master
      #       pwd
      #       ls

      - name: Connect to Tailscale
        uses: tailscale/github-action@v4
        with:
          oauth-client-id: ${{ secrets.TS_OAUTH_CLIENT_ID }}
          oauth-secret: ${{ secrets.TS_OAUTH_SECRET }}
          tags: tag:ci
      - name: Check connectivity
        run: tailscale ping -c 4 ubuntu-server-test.tailf7c0ab.ts.net
      - name: Debug Tailscale Identity
        run: tailscale status
      # - name: Haha
      #   run: ssh-keyscan -H ubuntu-server-test.tailf7c0ab.ts.net >> ~/.ssh/known_hosts
      - name: Haha 2
        run: ssh -tt -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@ubuntu-server-test.tailf7c0ab.ts.net
      - name: Bimillah jalan
        run: ssh -tt root@ubuntu-server-test.tailf7c0ab.ts.net
      
      # - name: Connect using
      #   run: curl https://login.tailscale.com/uinv/ib8nxKxDSLJ9D3muQM1Ro11
      # - name: Bismillah Sukses Deploy
      #   run: ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null root@ubuntu-server-test.tailf7c0ab.ts.net "whoami"

      - name: SSH into VPS and Clone Repo
        env:
          SSH_KEY: ${{ secrets.SSH_KEY }}
          VPS_IP: "100.123.209.14" # Your VPS Tailscale IP
        run: |
          mkdir -p ~/.ssh
          # Scan the VPS Tailscale IP to avoid manual fingerprint prompts
          ssh-keyscan $VPS_IP >> ~/.ssh/known_hosts
          # Load the private key
          printf "%s" "$SSH_KEY" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          # Access the VPS and clone the repo
          ssh user@$VPS_IP 

      # - name: Start Deployment
      #   uses: FarisZR/tailscale-ssh-deploy@v1
      #   with:
      #       remote_host: root@100.123.209.14
      #       directory: generated
      #       remote_destination: /projects
      #       post_upload_command: ls /projects
      # # - name: Push code to server via scp
      # #   run: |
      # #     scp -o StrictHostKeyChecking=no -r . root@ubuntu-server-test:/projects
      # # - name: Go to the Server
      # #   run: |
      # #     ssh -T root@${{ secrets.TS_DEPLOYMENT_IP }} 'sudo apt update'
      # - name: Tailscale chack check
      #   uses: tailscale/github-action@v4
      #   with:
      #     ping: 100.70.77.78,machine-1.my-tailnet.ts.net,machine-2

