# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  # push:
  #   branches: [ "master" ]
  # pull_request:
  #   branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm i
    - run: npm run build --if-present
    - run: npm test
    - name: Upload test results (only on failure)
      if: failure()  # Runs only if tests failed
      run: echo "fails bro"
  
  commit-to-master:
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Git initialize
        run: git init
      - name: Add origin
        run: git remote add origin https://github.com/fauzihazim/belajarbosku.git
      - name: Check Available Branch
        run: git branch -a
      - name: Checkout Branch Master
        run: git checkout master
      - name: Git add .
        run: git add .
      - name: merge to Master
        run: git reset --hard origin/new
      - name: Push to Master
        run: git push origin master --force

  deploy:
    runs-on: ubuntu-latest
    needs: build
    steps:
    - name: Build Success
      run: echo "Deploy Run"
